.wrapper{
margin: 0;

}

body {
  margin: 0px;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5039d301-b891-47b2-b755-553e5c874395/4343b1fd-6936-4544-8d9c-a35f5066eaae/US-en-20200210-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  background-color: black;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header{
  position: absolute;
  background-color: black;
  opacity: 65%;
  z-index: -10;
  height: 700px;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
}
button {
  background-color: red;
  opacity: 100%;
  border-color: red;
  font-size: 24px;
  color: white;
  background-color: red;
  opacity: 100%;
  border-color: red;
  border-radius: 8px;
  font-size: 24px;
  color: white;
}

#signIn{
  margin-top: 25px;
  float: right;
  margin-right: 25px;
  background-color: red;
  opacity: 100%;
  border-color: red;
  border-radius: 8px;
  font-size: 24px;
  color: white;
}




.home{
  left: 0px;
  color: red;
  /* z-index: 5; */
  display: inline-block;
  left: 0px;
}

.text{
  text-align: center;
  color: white;
  z-index: 1;
}

input{
  height: 50px;
  width: 550px;
}

.bodyTwo{
  background-color: black;
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 250px;
  height: 49%;
  object-fit: cover;
  background-attachment: fixed;
}


.computerGif {
  height: 100%;
  position: relative;
  top: -69%;
  left: 0%;
  z-index: 1;
}

  .computerImg{
    height: 100%;
    position: relative;
    top: 1%;
    left: 0%;
    z-index: 2;
  }

.faqList{
  border-color: yellow;
  border-width: 5px;
}

  faq-question{
    padding: 0.8em 2.2em 0.8em 1.2em;
    margin-bottom: 1px;
    font-weight: 400;
    position: relative;
    width: 100%;
    border: 0;
    background-color: grey;
  }

  faq-list-item{
    list-style-type: none;
    margin: 0 0 8px 0;
  }